<div class="row">
  
  <!-- Product table Start -->
  <div class="col-md-12 col-lg-8">
    <div class="card">
      <div class="card-body">
        <h5>Product Detail</h5>
      </div>
      <div class="card-body product-table p-t-35">
        <div class="table-responsive">
          <table class="table">
            <thead>
            <tr class="text-uppercase">
              <th>Product</th>
              <th>Quantity</th>
              <th>Total</th>
              <th>Dilevery</th>
              <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>1. Awesome T-shirt</td>
              <td>24</td>
              <td><button type="button" class="btn btn-primary">$550</button></td>
              <td>M oscow,Lenina 44-1</td>
              <td><button type="button" class="btn btn-success btn-round btn-outline-success">View</button></td>
            </tr>
            <tr>
              <td>2. Awesome T-shirt</td>
              <td>24</td>
              <td><button type="button" class="btn btn-success">$550</button></td>
              <td>M oscow,Lenina 44-1</td>
              <td><button type="button" class="btn btn-success btn-round btn-outline-success">View</button></td>
            </tr>
            <tr>
              <td>3. Awesome T-shirt</td>
              <td>24</td>
              <td><button type="button" class="btn btn-primary">$550</button></td>
              <td>M oscow,Lenina 44-1</td>
              <td><button type="button" class="btn btn-success btn-round btn-outline-success">View</button></td>
            </tr>
            <tr>
              <td>4. Awesome T-shirt</td>
              <td>24</td>
              <td><button type="button" class="btn btn-inverse">$550</button></td>
              <td>M oscow,Lenina 44-1</td>
              <td><button type="button" class="btn btn-success btn-round btn-outline-success">View</button></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <!-- Product table End -->
  <!-- Start-->
  <div class="col-md-12 col-xl-4">
    <div class="user-card-body card">
      <div class="card-body">
        <div class="top-card text-center">
          <img src="assets/images/widget/user.svg" class="img-responsive" alt=""  width="200" height="300">
        </div>
        <div class="card-contain text-center p-t-40">
          <h5 class="text-capitalize p-b-10">Gregory Johnes</h5>
          <p class="text-muted">Califonia, USA</p>
        </div>
        <div class="card-data">
          <div class="row">
            <div class="col-3 b-r-default text-center">
              <p class="text-muted">Followers</p>
              <span>345</span>
            </div>
            <div class="col-3 b-r-default text-center">
              <p class="text-muted">Following</p>
              <span>40</span>
            </div>
            <div class="col-3 b-r-default text-center">
              <p class="text-muted">Questions</p>
              <span>12</span>
            </div>
            <div class="col-3 text-center">
              <p class="text-muted">Answers</p>
              <span>40</span>
            </div>
            <div class="col-3 text-center">
              <p class="text-muted">Answers</p>
              <span>40</span>
            </div>
            <div class="col-3 text-center">
              <p class="text-muted">Answers</p>
              <span>40</span>
            </div>
            <div class="col-3 text-center">
              <p class="text-muted">Answers</p>
              <span>40</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End-->

</div>
